@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.animated-background{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: rgb(240, 240, 240);
    background: linear-gradient(to right, white 5%, rgb(240,240,240) 8%, white 23%);
    background-size: 800px 104px;
    height:100%;
    position: relative;
}

.timeline-item {
    min-width: 472px;
    height: 500px;
    background-color: white;
}

