
.page_content{
    margin: 35px 50px 0;
    padding-bottom: 35px;
    display:-ms-flexbox;display:flex;
    -ms-flex-wrap:nowrap;flex-wrap:nowrap;
}

.page_content>div{
    background-color: white;
}
#left_bar{
    padding-top: 20px;
    width: 400px;
    margin-right: 30px;
    overflow: hidden;
    position: relative;
}
#right_bar{
    width: 1100px;
    padding:20px 50px;
    overflow: hidden;
}
/* ===========================left navigation layout======================= */
#app_name{
    text-align: center;
    font-size: 25px;
}

/*  */
.chartdiv{
    width: 500px;
    height: 700px;
}